.imagem {
  background-image: url('../../../../assets/imgs/fundoLogin.png');
  width: 100%;
  height: 80rem;
  background-repeat: no-repeat;
  color: #000;
  background-size: 100%;
  position: absolute;
  z-index: -2;
}

.box {
  width: 100%;
  height: 80rem;
  opacity: 0.8;

  background-color: #ffb656;
}
