<div class="col-12 pt-5 {{isMobile? '': 'defineTamanhoTela'}} {{isMobile? 'px-2':'px-5'}}">
  <div class="col-12" *ngIf="carregando">
    <div class="clearfix d-flex justify-content-center">
      <p class="fs-6"> Carregando </p>
      <div class="spinner-border spinner-border-sm ms-2 " style="width: 1rem; height: 1rem;" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>

  <div *ngIf="!carregando">
    <div class="col-12 d-flex">
      <div class="col-6">
        <span class="fs-6">CURSOS</span>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div>
          <button type="button" (click)="AdicionarCurso()" class="btn btn-primary rounded-pill text-light"><strong>ADICIONAR</strong></button>

        </div>
      </div>
    </div>

    <app-table
      [lista]="listaCursos"
      [header]="header"
      [options]="options"
      [actions]="actions">
    </app-table>

  </div>
</div>
