.caixaTitulo {
  background-color: #EE5b54;
  color: white;
  border-radius: 10px;
  position: relative;
  top: -78px;
}

.caixa {
  border: 1px solid rgb(114, 114, 114);
  border-radius: 20px;
  height: 32rem;
}


.caixaBody {
  position: relative;
  top: -63px;
}
