/* You can add global styles to this file, and also import other style files */
@import '@ctrl/ngx-emoji-mart/picker';

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:root{
  --ver-img: none;
  --define-tamanho: 0;
  --mdc-outlined-text-field-focus-label-text-color: #842723;
  --mat-icon-color: rgb(255, 255, 255);
  --bs-box-shadow-sm: 0 0.225rem 0.25rem rgba(0, 0, 0, 0.095);
  --vermelhoProInf: #842723;
  --bs-link-color: #842723;
  --bs-link-hover-color: #e64944;
  // --bs-link-color: #ffffff;
  // --bs-link-hover-color: #ffc6c4;
  --laranja: #ed8f00;
  --snakeBordaColor: #4ca984;
  --snackFechar: #002d40;
  --mat-icon-color: rgb(0 0 0);

}

html {
  --mat-paginator-container-text-color: rgba(255, 255, 255, 0.87);
  --mat-paginator-container-background-color: #424242;
  --mat-paginator-enabled-icon-color: rgba(255, 255, 255, 0.54);
  --mat-paginator-disabled-icon-color: rgba(255, 255, 255, 0.12);
  --mat-paginator-container-text-size: 17px;
  --mat-select-panel-background-color: #dd4444;
  --mat-paginator-enabled-icon-color: rgb(24 2 2 / 54%);
  --mdc-filled-text-field-container-color: #ffedeb;
  --mdc-filled-text-field-label-text-color: #842723;
  --mdc-filled-text-field-focus-label-text-color: #842723;
  --mdc-filled-text-field-input-text-color: #842723;
  --mat-form-field-container-text-line-height: 11px;
  --mdc-snackbar-container-color: #842723;
  --mat-form-field-container-height: 46px;
  --mdc-protected-button-container-color: #ffffff;
  --mdc-protected-button-label-text-color: #842723;
  --mat-select-enabled-arrow-color: #842723;
  --mat-select-enabled-trigger-text-color: #842723;
  --mat-select-panel-background-color: #bf9a95;
  --mdc-filled-text-field-disabled-container-color: #cfaca8;
  --mdc-filled-text-field-disabled-input-text-color: rgb(255 255 255);
  --mdc-filled-text-field-disabled-label-text-color: rgb(255 255 255);
  --mat-tree-container-background-color: #ffffff;
  --mat-tree-node-text-color: black;
  --mdc-dialog-container-color: #ffffff;
  --mdc-dialog-subhead-color: rgb(0 0 0 / 87%);
  --mdc-dialog-supporting-text-color: rgb(0 0 0 / 60%);
  --mdc-text-button-label-text-color: #000;

}

.second-modal-backdrop {
  // position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  // background-color: rgba(0, 0, 0, 0.5) !important;
  margin: 0 !important;
  // height: 100% !important;
  min-height: 100% !important;
  max-width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  overflow-y: auto hidden !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;

  .modal-content {
    position: relative !important;
    height: fit-content !important;
    // display: flex !important;
    // align-self: center !important;
  }
}

.modal-width-600 {
  .modal-content {
    max-width: 600px !important;
  }
}

// .mat-mdc-dialog-container .mdc-dialog__surface {
//   width: 55% !important;
//   @media screen and (max-width: 900px) {
//     width: 100% !important;

//   }

//   height: 100%;
// }


.defineTamanhoTela{
  max-width: 1225px;
    margin-left: auto;
    margin-right: auto;
}

.mat-datepicker-toggle-default-icon {
  color: #842723;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #842723;
}

.pointer{
  cursor: pointer;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: var(--primary);
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, .87);
  --mat-snack-bar-button-color: var(--primary);
  --mdc-snackbar-container-shape: 6px;
}

.mdc-snackbar__label{
  padding-top: 18px;
}

.mdc-snackbar--open .mdc-snackbar__surface {
  border-left: 7px solid var(--snakeBordaColor);
}

.success{
  --mdc-snackbar-container-color: #d4ffeb;
  --snakeBordaColor: #4ca984;
  --mdc-snackbar-supporting-text-color: #002d40;
  --snackFechar: #002d40;

}

.error{
  --mdc-snackbar-container-color: #ffe9ea;
  --snakeBordaColor: #ef5e5f;
  --mdc-snackbar-supporting-text-color: #ff0000;
  --snackFechar: #ff0000;

}

.warning{
  --mdc-snackbar-container-color: #fff4e6;
  --snakeBordaColor: #c38b33;
  --mdc-snackbar-supporting-text-color: rgb(170, 136, 2);
  --snackFechar: rgb(170, 136, 2);
}

.info{
  --mdc-snackbar-container-color: #ebf3ff;
  --snakeBordaColor: #0082f3;
  --mdc-snackbar-supporting-text-color: #0082f3;
  --snackFechar: #0082f3;
}

.snackFechar{
  cursor: pointer;
  color: var(--snackFechar)
}

.mat-mdc-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  outline: 0;
  border-radius: var(--mat-menu-container-shape);
  background-color: #ed8f00 !important;
  will-change: transform, opacity;
}


.defineCorBar{
  background-color: #ffedeb !important;
}

.fundoRosa{
  background-color: #F7E2DC;
}

.fundoLaranja{
  background-color: #f1b04d;
  color: #fdfdfd;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #f1b04d;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ed8f00;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.contemPaginas{
  padding-left: 7rem;
  padding-right: 7rem;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ee5b54;
  --bs-btn-border-color: #842723;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #842723;
  --bs-btn-hover-border-color: #842723;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #842723;
  --bs-btn-active-border-color: #842723;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #842723;
  --bs-btn-disabled-border-color: #842723;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(132,39,35, 1), 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url('./assets/imgs/seta\ 2.png');
}

.carousel-control-prev-icon {
  background-image: url('./assets/imgs/seta\ 1.png');

}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-color: var(--laranja);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border: 1px solid #e64944;
}



.carousel-control, .carousel-control:hover {
  opacity: 0;
  color: #fdfdfd;
}

.camposBrancos{
  --mdc-filled-text-field-container-color: #ffffff !important;

}

html, body { height: 100%; }
body { background-color: #fdfdfd;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

.bg-body-tertiary {
  background-color: #303030 !important;
  h1, span{
    color: aliceblue;
  }
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open SansBold';
  src: url('assets/fonts/OpenSans_Condensed-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.defineFontBtns{
  font-family: Gordita !important;
}

.defineFontGordita{
  font-family: Gordita !important;
}

.defineFont{
  font-family: Open Sans !important;
}

.defineFontBold{
  font-family: Open SansBold !important;
}

.formataParagrafos{
  text-align: justify;
  line-height:1.5
}

.dataCard{
  position: absolute;
  z-index: 2;
  background-color: #fdfdfd;
  width: 49px;
  padding: 6px;
  border-radius: 6px;
  justify-content: center;
  display: grid;
}

.virar{
  animation-duration: 1s;
  animation-name: vira;
}

.desVirar{
  animation-duration: 1s;
  animation-name: desvira;
}

@keyframes vira {
  from{
    transform: scalex(1);
  }
  to{
    transform: scalex(0);

  }
}

@keyframes desvira {
  from{
    transform: scalex(0);
  }
  to{
    transform: scalex(1);

  }
}

.upload_btn{
  position:absolute;
  width:4%;
  height:110px !important;
  z-index:10;
  opacity:0;
}

mat-paginator {
  background-color: #ee5b54 !important;
  font-size: 40px;
}

.pequeno{
  // animation-duration: 1s;
  // animation-name: diminuir;
  // -webkit-animation-duration:1s;
  // -webkit-animation-iteration-count:1;
  // -webkit-animation-delay:0.5s;
  // -webkit-animation-fill-mode: forwards;
  transform: scale(0.7);

}

.grande{
  // animation-duration: 1s;
  // animation-name: aumentar;
  // -webkit-animation-duration:1s;
  // -webkit-animation-iteration-count:initial;
  // -webkit-animation-delay:0.5s;
  // -webkit-animation-fill-mode: forwards;
  transform: scale(1);

}

@keyframes diminuir {
  from{
    //transform: scale(1);
  }
  to{
    transform: scale(0.5);

  }
}

@keyframes aumentar {
  from{
    // transform: scale(0.5);
  }
  to{
    transform: scale(1);

  }
}

.mat-mdc-form-field{
  width: 100%;

}

.fontTitulo{
  color: #EE5b54;
  font-size: 40px;
}

.fontTitulo2{
  color: #EE5b54;
  font-size: 33px;
}

.fontTitulo3{
  color: #842723;
  font-size: 40px;
}

.main{
  margin-top: 44px;
  padding-left: 69px;
  padding-right: 69px;
  width: 100%;
}

.escala {
  transform: scale(0.7, 0.7);
  transform-origin: left top;
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  cursor: inherit;
  //color: #842723;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}


.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    // color: #842723 !important;
    --mdc-outlined-text-field-outline-color: var(--vermelhoProInf) ;
}

/* Change the border focused color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: var(--vermelhoProInf) !important;

}

/* Change the border hover color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--vermelhoProInf) !important;
}

.form-angular-material .mdc-text-field--outlined{
  background-color: #FFEDEB;
  border-radius: 28px;
}

.form-angular-material {
  --mdc-outlined-text-field-label-text-color: var(--vermelhoProInf) !important;
  --mdc-outlined-text-field-input-text-color: var(--vermelhoProInf) !important;
  input.mat-input-element {
    color: var(--vermelhoProInf);
  }

  .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    transform: translateY(-1.4em) scale(.75) !important;
    transform: translateY(-1.6em) scale(.75)!important;
    width: auto;
  }

  .mat-mdc-select-value{
    font-size: 14px !important;
  }

   .mat-mdc-form-field {
    padding: 0.0em 0px !important;
    font-size: 14px !important;
  }

  .form-floating>.form-control:focus~label{
    //color: var(--vermelhoProInf) !important;
    transform: scale(.85) translateY(-2.1rem) translate(0.15rem) !important;
  }


  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 18px;
  }

  .mdc-line-ripple::after {
    border-bottom-width: 0px;
  }

  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    //padding: -4.6em -1px !important;
    //height: 41px !important;
  }

  .mat-mdc-text-field-wrapper {
    height: 51px;
    flex: auto;
  }

   .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 11px;
    padding-bottom: 11px;
  }

   .mat-mdc-form-field-icon-suffix>.mat-icon {
    // padding-top: 4px !important;
    // padding: 12px;
    // box-sizing: content-box;
    transform: translateY(-0.1em) scale(.95) !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 13px;
  }

  .mdc-text-field--outlined {
  --mdc-outlined-text-field-outline-color: var(--vermelhoProInf);
  }
}




