/* You can add global styles to this file, and also import other style files */
:root{
  --mdc-outlined-text-field-focus-label-text-color: #842723;
  --mat-icon-color: rgb(255, 255, 255);
  --bs-box-shadow-sm: 0 0.225rem 0.25rem rgba(0, 0, 0, 0.095);
  --vermelhoProInf: #842723;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #f1b04d;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

html, body { height: 100%; }
body { background-color: #fdfdfd;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

.bg-body-tertiary {
  background-color: #303030 !important;
  h1, span{
    color: aliceblue;
  }
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mat-mdc-form-field{
  width: 100%;

}

.defineFontBtns{
  font-family: Gordita;
}

.defineFont{
  font-family: Open Sans;
}

.main{
  margin-top: 44px;
  padding-left: 69px;
  padding-right: 69px;
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  cursor: inherit;
  //color: #842723;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}


.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    // color: #842723 !important;
    --mdc-outlined-text-field-outline-color: var(--vermelhoProInf) ;
}

/* Change the border focused color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: var(--vermelhoProInf) !important;

}

/* Change the border hover color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--vermelhoProInf) !important;
}

.form-angular-material .mdc-text-field--outlined{
  background-color: #FFEDEB;
  border-radius: 28px;
}

.form-angular-material {
  --mdc-outlined-text-field-label-text-color: var(--vermelhoProInf) !important;
  --mdc-outlined-text-field-input-text-color: var(--vermelhoProInf) !important;
  input.mat-input-element {
    color: var(--vermelhoProInf);
  }

  .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    // transform: translateY(-1.4em) scale(.75) !important;
    transform: translateY(-1.6em) scale(.75)!important;
    // width: 133.33333%;
  }

  .mat-mdc-select-value{
    font-size: 14px !important;
  }

   .mat-mdc-form-field {
    padding: 0.0em 0px !important;
    font-size: 14px !important;
  }

  .form-floating>.form-control:focus~label{
    color: var(--vermelhoProInf) !important;
    transform: scale(.85) translateY(-2.1rem) translate(0.15rem) !important;
  }


  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 18px;
  }

  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    //padding: -4.6em -1px !important;
    height: 41px !important;
  }

  .mat-mdc-text-field-wrapper {
    height: 41px;
    flex: auto;
  }

   .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 11px;
    padding-bottom: 11px;
  }

   .mat-mdc-form-field-icon-suffix>.mat-icon {
    padding-top: 4px !important;
    padding: 12px;
    box-sizing: content-box;
    transform: translateY(-0.1em) scale(.95) !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 13px;
  }

  .mdc-text-field--outlined {
  --mdc-outlined-text-field-outline-color: var(--vermelhoProInf);
  }
}
