<div class="row flex-wrap">
  <div class="col-12 d-flex flex-wrap fundoLaranja defineFont"
    [style]="isMobile? '':'padding-left: 7rem; height: 14.75rem;'">
    <div class="{{isMobile? 'col-12 px-3':'col-7'}}">
      <div class="col-12 pt-4 pb-2">
        <h1><strong class="fontTitulo2" style="color: white;">COMECE A ESTUDAR</strong></h1>
      </div>
      <div class="col-12" *ngIf="true">
        <P class="fs-5 formataParagrafos" >
          Escolha um dos nosso cursos que melhor se encaixa com os seus estudos e objetivos
        </P>
      </div>
    </div>

    <div class="{{isMobile? 'col-12':'col-5'}} d-flex justify-content-center">
      <img [style]="isMobile?'':'position: relative; top: -4rem;'" src="assets/imgs/site proinf quem somos e cursos/13.png" alt="" height="{{isMobile?'368':'300'}}">
    </div>
  </div>

  <div class="col-12 d-flex flex-wrap defineFont pt-5 {{isMobile? '':'contemPaginas'}}">
    <div class="col-12 d-flex flex-wrap" >
      <div class="col-12 pb-4 {{isMobile? 'px-3':''}}">
        <h1 class="fontTitulo" >
          <strong style="font-size: 33px;">CURSOS</strong>
        </h1>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">DIREITO DA CIRNAÇA E ADOLESCENTE</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button>
          </div>
        </div>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">PROCESSO CIVIL</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button>
          </div>
        </div>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">DPE COMPLETO</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 d-flex justify-content-center mt-5 mb-5">
      <div class="col-12 d-flex" style="top: 24px; position: relative;" >
        <div class="col-5">
          <div style="border-style: solid none none none; border-color: #ed8f00;" class="me-4 mt-4 col-5 w-100"></div>
        </div>
        <div class=" col-2 d-flex justify-content-center">
          <img src="../../../../assets/imgs/divideNoMeio.png" class="image" height="50">
        </div>
        <div class="col-5">
          <div style="border-style: solid none none none; border-color: #ed8f00;" class="me-4 mt-4 col-5 w-100"></div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex flex-wrap" >
      <div class="col-12 pb-4 {{isMobile? 'px-3':''}}">
        <h1 class="fontTitulo" >
          <strong style="font-size: 33px;">GRUPO DE ESTUDOS</strong>
        </h1>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">BPE-SP</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button>
          </div>
        </div>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">DPE-PR</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button>
          </div>
        </div>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">EM BREVE</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/6.png" class="card-img-top" alt="...">
          <div class="card-body">
            Esse <strong>grupo de estudos </strong> está em contrução, e em breve
            traremos informações...
            <!-- <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 d-flex justify-content-center mt-5 mb-5">
      <div class="col-12 d-flex" style="top: 24px; position: relative;" >
        <div class="col-5">
          <div style="border-style: solid none none none; border-color: #ed8f00;" class="me-4 mt-4 col-5 w-100"></div>
        </div>
        <div class=" col-2 d-flex justify-content-center">
          <img src="../../../../assets/imgs/divideNoMeio.png" class="image" height="50">
        </div>
        <div class="col-5">
          <div style="border-style: solid none none none; border-color: #ed8f00;" class="me-4 mt-4 col-5 w-100"></div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex flex-wrap " >
      <div class="col-12 pb-4 {{isMobile? 'px-3':''}}">
        <h1 class="fontTitulo" >
          <strong style="font-size: 33px;">AULÃO</strong>
        </h1>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">ECA</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/7.png" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button>
          </div>
        </div>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">PROCESSO CIVIL</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/8.png" class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button>
          </div>
        </div>
      </div>

      <div class="{{isMobile?'col-12 pb-3':'col-4'}} d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 18rem;">
          <h4 class="text-center textImagem">
            <p class="text defineFont mt-2" style="width: 100%;">
              <strong class="">EM BREVE</strong>
            </p>
          </h4>
          <img src="assets/imgs/site proinf quem somos e cursos/6.png" class="card-img-top" alt="...">
          <div class="card-body">
            Esse <strong>grupo de estudos </strong> está em contrução, e em breve
            traremos informações...
            <!-- <button type="button"
            class="btn btn-sm w-100 btn-danger icon-button shadow-sm rounded ">
              <strong class="defineFontBtns text-center " style="font-size: 25px;">
                Mais informações
              </strong>
            </button> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
