.circle {
  background-color: #aaa;
  border-radius: 50%;
  z-index: 2;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border: 10px solid white;
}

.circle img {
  position: absolute;
  top: -11%;
  bottom: 0;
  width: 100%;
}

.abrirEmojs {
  display: block;
  position: absolute;
  z-index: 5;
}

.fecharEmojis {
  display: none;
}


.upload_btn{
  position:absolute;
  width:4%;
  height:110px !important;
  z-index:10;
  opacity:0;
}
