<div class="w-100 p-3 d-flex flex-wrap" [style]="isMobile?'': 'margin-top: 16vh !important;'" style=" background-color: #ee5b54; color: white;">
  <div class="col-sm-12 col-md-3 col-lg-3 {{isMobile? '' : 'ps-4'}}">
    <div class="col-sm-6 col-md-12">
      <img src="../../assets/imgs/logoH.png" alt="" height="70">
    </div>
    <div class="col-sm-6 col-md-12 mt-4 defineFontGordita fs-5 ">
      Um centro de estudos e
      capacitação de pessoas
      que atuam ou pretendem
      atuar na área da proteção
      infantojuvenil.

    </div>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-5 d-flex flex-wrap pt-5 justify-content-center">
    <div class="{{isMobile? 'col-12': ''}}" [style]="isMobile?'':'padding-left: 6rem !important;'">
      <div class="flex-wrap">
        <h3>
          <strong class="defineFontGordita">MENU</strong>
        </h3>
        <h4><a class="removerLayout" href="https://centroproinf.com.br/#/blog/inicio">{{'Início'}} </a></h4>
        <h4><a class="removerLayout" href="https://centroproinf.com.br/#/blog/quemSomos">{{'Quem somos'}} </a></h4>
        <h4> <a class="removerLayout" href="https://centroproinf.com.br/#/blog/cursos">{{'Cursos'}}</a></h4>
      </div>
    </div>

    <!-- <div class="col-sm-12 col-md-6 col-lg-6" [style]="isMobile?'':'padding-left: 2rem !important;'">
      <div class="flex-wrap">
        <h3>
          <strong class="defineFontGordita">CURSOS</strong>
        </h3> -->
        <!-- <h4> Direito da Criança e Adolescente </h4> -->
        <!-- <h4> <a class="removerLayout" href="https://centroproinf.com.br/#/blog/cursos">{{'Grupo de Estudos'}} </a></h4> -->
        <!-- <h4> Fóruns </h4> -->
      <!-- </div>
    </div> -->
  </div>
  <div class="{{isMobile? 'col-12  pt-3': 'pt-5'}}" [style]="isMobile?'' : 'padding-left: 2rem !important;'">
    <div class="flex-wrap">
      <h3>
        <strong class="defineFontGordita">CONTATOS</strong>
      </h3>
      <h4> <img class="pe-1" src="../../assets/imgs/instagramBranco.png" alt="" height="25"><a class="removerLayout" href="https://www.instagram.com/centroproinf/reels">{{'@centroproinf'}} </a></h4>
      <h4> <img class="pe-1" src="../../assets/imgs/email.png" alt="" height="25"><a class="removerLayout" href="mailto:centroproinf@gmail.com">{{'centroproinf@gmail.com'}} </a></h4>
    </div>
  </div>
</div>
<div class="w-100 pt-4 text-center" style="background-color: white;">
  <span class="p-4 fs-5">Centro ProInf © 2024 - Todos os direitos reservados</span>
</div>
