<div class="col-12 pt-5 {{isMobile? '': 'defineTamanhoTela'}} {{isMobile? 'px-2':'px-5'}}">
  <div class="col-12" *ngIf="carregando">
    <div class="clearfix d-flex justify-content-center">
      <p class="fs-6"> Carregando </p>
      <div class="spinner-border spinner-border-sm ms-2 " style="width: 1rem; height: 1rem;" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
  <div *ngIf="!carregando" class="d-flex flex-wrap">
    <span class="fs-6">ALUNOS</span>
    <div class="ms-auto">
      <mat-form-field class="">
        <mat-label>Consulta por nome</mat-label>
        <input required matInput (keyup)="filtro($event)">
      </mat-form-field>

    </div>

    <app-table class="w-100"
      [lista]="listaAlunosFiltrada"
      [header]="header"
      [options]="options"
      (selection)="pegarSelecionados()"
      [actions]="actions">
    </app-table>

  </div>
</div>
