<app-sidebar-area-aluno></app-sidebar-area-aluno>
<div class="col-12 pt-5 {{isMobile? '': 'defineTamanhoTela'}} {{isMobile? 'px-2':'px-5'}}">
  <div class="col-12" *ngIf="carregando">
    <div class="clearfix d-flex justify-content-center">
      <p class="fs-6"> Carregando </p>
      <div class="spinner-border spinner-border-sm ms-2 " style="width: 1rem; height: 1rem;" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>

  <div *ngIf="(this.usuario.listaCursos == null || this.usuario.listaCursos.length == 0) && !carregando"
    class="col-12 d-flex flex-wrap justify-content-center">
    <div class="col-12">
      <h1 class="w-100">
        <strong class="fontTitulo  d-flex justify-content-center {{isMobile? 'fs-5':' fs-3'}} text-center">
          VOCÊ AINDA NÃO SE MATRICULOU EM UM CURSO
        </strong>
      </h1>
    </div>
    <button type="button" (click)="router.navigate(['blog/cursos'])" class="btn btn-danger text-light">
      <strong>INSCREVER-SE EM UM CURSO</strong>
    </button>
  </div>
  <div class="col-12 d-flex flex-wrap {{isMobile?'justify-content-center':''}} " *ngIf="usuario.ultimaAulaAssistida != null && !carregando">
    <h1 class="col-12 fontTitulo d-flex {{isMobile?'justify-content-center':''}} " >
      <strong style="font-size: 33px;">Continue de onde parou</strong>
    </h1>
    <div class=" d-flex align-items-center {{isMobile?'col-12':'col-5 p-4 ps-0'}}">
      <video width="100%" height="auto" controls controlsList="nodownload" src="https://centroproinf.com.br/video/{{usuario.ultimaAulaAssistida.nomeArquivo}}.mp4">
        <source  type="video/mp4" >
      </video>
    </div>
    <div class="{{isMobile?'col-12':'col-7 p-4 ps-0'}}">
      <h2 class="col-12 d-flex {{isMobile?'justify-content-center':''}} " >
        <strong >{{usuario.ultimaAulaAssistida.nome}}</strong>
      </h2>
      <h4 class="col-12 d-flex {{isMobile?'justify-content-center':''}} " >
        <strong>{{usuario.ultimaAulaAssistida.descricao}}</strong>
      </h4>
      <button type="button" (click)="assistirAulaPeloId(usuario.ultimaAulaAssistida.idCurso)"
        class="{{isMobile? 'w-100':'ps-3'}} justify-content-center overlay-layer btn btn-sm btn-outline-dark icon-button d-flex text-start shadow-sm rounded">
          <strong class="defineFontBtns ps-2 pt-1" style="font-size: 24px;">
            Continuar...
          </strong>
          <img src="../../../../assets/imgs/setaVermelha.png" height="40">
      </button>
    </div>
  </div>
  <hr class="mt-4 mb-4" *ngIf="usuario.ultimaAulaAssistida != null && !carregando">

  <div class="col-12 d-flex flex-wrap {{isMobile?'justify-content-center':''}} " *ngIf="meusCursos && !carregando">
    <div class="col-12 pb-2">
      <h1 class="fontTitulo d-flex {{isMobile?'justify-content-center':''}} " >
        <strong style="font-size: 33px;">MEUS CURSOS</strong>
      </h1>
    </div>
    <div *ngFor="let curso of listaMeusCursos">
      <div *ngIf="curso.statusPago" class="card me-2 {{isMobile? 'mb-2':''}}" (click)="assistirAula(curso)" style="width: 18rem; cursor: pointer;">
        <h4 class="text-center textImagem">
          <p class="text defineFont mt-3" style="width: 100%;">
            <strong class="">{{curso.titulo.toLocaleUpperCase()}}</strong>
          </p>
        </h4>
        <!-- <img src="{{curso.src}}" class="card-img-top" alt="..."> -->
        <img *ngIf="curso.src == ''" src="assets/imgs/site proinf quem somos e cursos/6.png" class="card-img-top" alt="...">

        <img *ngIf="curso.src != ''" src="{{curso.src}}" class="card-img-top" alt="...">
      </div>

      <div *ngIf="!curso.statusPago" class="card me-2" style="width: 18rem;">
        <h4 class="text-center textImagem">
          <p class="text defineFont mt-2" style="width: 100%;">
            <strong class="">AGUARDANDO CONFIRMAÇÃO DE PAGAMENTO</strong>
          </p>
        </h4>
        <img src="assets/imgs/site proinf quem somos e cursos/6.png" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  <hr class="mt-4 mb-4" *ngIf="!carregando">

  <div class="col-12 d-flex flex-wrap {{isMobile?'justify-content-center':''}}  mt-4" *ngIf="meusGruposEstudo && !carregando">
    <div class="col-12 pb-2">
      <h1 class="fontTitulo d-flex {{isMobile?'justify-content-center':''}} " >
        <strong [style]="isMobile?'font-size: 27px':'font-size: 33px'">MEUS GRUPOS DE ESTUDO</strong>
      </h1>
    </div>
    <div *ngFor="let curso of listaMeusGruposEstudos">
      <div *ngIf="curso.statusPago" class="card me-2 {{isMobile? 'mb-2':''}}" (click)="assistirAula(curso)" style="width: 18rem; cursor: pointer;">
        <h4 class="text-center textImagem">
          <p class="text defineFont mt-3" style="width: 100%;">
            <strong class="">{{curso.titulo.toLocaleUpperCase()}}</strong>
          </p>
        </h4>
        <img *ngIf="curso.src == ''" src="assets/imgs/site proinf quem somos e cursos/6.png" class="card-img-top" alt="...">

        <img *ngIf="curso.src != ''" src="{{curso.src}}" class="card-img-top" alt="...">
      </div>

      <div *ngIf="!curso.statusPago" class="card me-2" style="width: 18rem;">
        <h4 class="text-center textImagem">
          <p class="text defineFont mt-2" style="width: 100%;">
            <strong class="">AGUARDANDO CONFIRMAÇÃO DE PAGAMENTO</strong>
          </p>
        </h4>
        <img src="assets/imgs/site proinf quem somos e cursos/6.png" class="card-img-top" alt="...">
      </div>
    </div>
  </div>

</div>

<div *ngIf="!carregando" class="col-12 mt-5" style="">
  <app-roda-pe></app-roda-pe>
</div>
