:root{
  --ver-img: none;
}


.image {
  display: block;
  width: 100%;
}

.text {
  position: absolute;
  transform: translate(-50%, -50%); /* tcharaaaaaannnnn */
  z-index: 1;
  top: 50%;
  left: 50%;

  color:azure;
}

.imagemDeFundo{
  position: relative;
  top: -38px;
  transform: rotate(10deg);
  opacity: 0.3;
  left: 15%;
  background: url('../../../../assets/imgs/divideNoMeio.png') no-repeat;
  width: 80%;
  height: 600px;
}

.containerSlide {
  position: relative;
}

.setaDireita {
  position: absolute;
  width: 50px;
  z-index: 2;
  height: 50px;
  right: 5px;    // 5px com relação à margem direita do elemento html (ou seja, se deslocando da direita - do elemento html - para a esquerda)
  top: 73px;
  cursor: pointer;

}

.setaDireita:hover{
  color: rgb(204, 206, 207);
}

.setaEsquerda{
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 2;
  left: 60px;
  top: 73px;
}

.setaEsquerda:hover{
  color: rgb(204, 206, 207);
}


.circle {
  background-color: #aaa;
  border-radius: 50%;
  z-index: 2;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border: 10px solid white;
}

.circle img {
  position: absolute;
  top: -11%;
  bottom: 0;
  width: 100%;
}

.cardMobile{
  width: 100% !important;
  display: block;
}
.cardMobilePequeno{
  display: none;
}

.cardTelacheia{
  width: 24rem;
  border-radius: 12px;
}

.aspas {
  font-size: 9rem;
  position: absolute;
  z-index: 2;
  left: 269px;
  color: #EE5b54;
}
