<div class="col-12 p-4" *ngIf="carregando">
  <div class="w-100 clearfix d-flex justify-content-center">
    <p class="fs-6"> Carregando </p>
    <div class="spinner-border spinner-border-sm ms-2 " style="width: 1rem; height: 1rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>

<div class="m-4 d-flex flex-wrap scroll" *ngIf="!carregando">
  <div class="col-6 pe-2">
    <mat-form-field class=" ">
      <mat-label>Defina um curso</mat-label>
      <mat-select [(value)]="cursoSelecionado">
        <mat-option (onSelectionChange)="pegarArquivosCurso(item.id)" [value]="item.id" *ngFor="let item of listaNomesCursos">{{ item.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6">
    <div class="col-12" *ngIf="carregandoArquivos">
      <div class="clearfix d-flex justify-content-center">
        <p class="fs-6"> Carregando </p>
        <div class="spinner-border spinner-border-sm ms-2 " style="width: 1rem; height: 1rem;" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
    <mat-form-field class=" " *ngIf="!carregandoArquivos">
      <mat-label>Vincule arquivos ao seu video</mat-label>
      <mat-select (selectionChange)="definirArquivos($event.value)" [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value?.[0] || ''}}
          @if ((toppings.value?.length || 0) > 1) {
            <span class="example-additional-selection">
              (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          }
        </mat-select-trigger>
        @for (topping of toppingList; track topping) {
      <mat-option [value]="topping">{{topping}}</mat-option>
      }
    </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6 pe-2">
    <mat-form-field class="">
      <mat-label>Nome do video</mat-label>
      <input matInput [(ngModel)]="nomeVideo">
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="">
      <mat-label>Nome do arquivo</mat-label>
      <input matInput [(ngModel)]="nomeArquivo">
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field class="w-100">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="descricaoVideo" rows="5" cols="40" placeholder="text" ></textarea>
    </mat-form-field>
  </div>


  <div class="w-100 d-flex">
    <div class="col-6">
      <button *ngIf="!carregando" class="btn btn-danger rounded-pill" (click)="fechar()">FECHAR</button>

    </div>
    <div class="col-6 d-flex justify-content-end">
      <button type="button" (click)="AtualizarrVideo()" class="btn btn-primary rounded-pill text-light"><strong>ATUALIZAR</strong></button>

    </div>
  </div>
</div>
